/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Open+Sans:wght@400;700&family=Raleway:wght@400;500&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  background-color: hsl(0, 68%, 37%);
}

ul {
  list-style: none;
  color: white;
  font-size: x-small;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 2em;
  left: 28em;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  padding: 0.8em;
}

#logo {
  position: relative;
  width: 14%;
  top: -9rem;
  left: 12rem;
}
section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 3rem;
}

section div {
  display: flex;
  flex-direction: row;
}

hr {
  margin-top: 2rem;
}

div h2 {
  margin-bottom: 1.5rem;
  margin-left: -2rem;
  font-weight: normal;
}

article {
  padding-right: 2rem;
  margin-bottom: 2rem;
  max-width: 23.5%;
  font-size: 0.5rem;
}

.blockProduits {
  max-width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
article p {
  margin-top: 1rem;
}

.footerBas {
  display: flex;
  flex-direction: row;
  font-size: 0.5rem;
  position: relative;
  top: -9.5rem;
  left: 15rem;
}
.block {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
  /* line-height: 0.4rem; */
}
.blockImage {
  width: 18%;
  height: 18%;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blockImgGen {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blockLink a {
  display: flex;
  align-items: flex-end;
}
.blockLink a,
.socialMedia a:hover {
  color: indigo;
  background-color: transparent;
}
.socialMedia a {
  position: relative;
  top: -21.1rem;
  left: 33rem;
  margin-right: 1rem;
}

#lgv {
  border-bottom: 5px solid black;
  z-index: 0;
  height: 2px;
}
.socialMedia p {
  font-size: 0.4rem;
  position: relative;
  top: -20.1rem;
  left: 28.5rem;
  margin-right: 1rem;
}

.socialMedia img {
  width: 15%;
  position: relative;
  top: -19.1rem;
  left: 14.6rem;
  margin-right: 1rem;
}

#txtVert {
  color: green;
  font-weight: bold;
}

.BlocJeux {
  font-size: xx-small;
  display: block;
  text-align: right;
  position: relative;
  top: -12rem;
}
.BlocJeux a {
  background: linear-gradient(red, rgb(78, 4, 4));
  margin-top: 10px;
  color: yellow;
  padding: 5px;
}

@media screen and (max-width: 375px) {
  .main {
    max-width: 375px;
    background-color: yellow;
  }
}
